.img{
        height:26000px; 
		background-image: url(./WEB2.jpg);
		background-position: center;
		background-repeat:no-repeat;
		background-size: 100% 100%;
		text-align:center;
		position:relative;
}
